main {
    justify-content: left;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 2rem;
}

.all-courses {
    margin-top: 5%;
    justify-content: left;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

main h3 {
    text-align: center;
    font-size: 1.5rem;
}

.python-courses-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course-box {
    overflow: hidden;
    background-color: #161B22;
    color: #e7e7e7;
    text-align: center;
    width: 240px;
    height: 350px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
    padding-bottom: 3rem;
}

.course-box .course-title {
    font-size: 16px;
}

.course-box .course-description {
    font-size: 12px;
}

.course-box:hover img {
    scale: 1.1;
}

.course-box:hover {
    /*box-shadow: 5px 15px 25px #eeeeee;*/
}

.course-box img {
    height: 150px;
    width: auto;
    margin: 1rem;
    transform: all 0.3s;
    border-radius: 25px;
}

.tag-course-btn {
    margin-top: 1rem;
    width: 175px;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #3b4b5c, #2979ff, #005fff, #0047ab, #4c5a6a, #3b4b5c);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(225, 225, 225, 0.3);
    justify-content: center;
    align-items: center;
    align-content: center;
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.tag-course-btn .course-btn {
    inset: 3px 3px 3px 3px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: end;
    color: #e7e7e7;
}

.course-btn:hover {
    color: #0047ab;
}

a {
    text-decoration: none;
}